.filters {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.filter {
  width: 40%;
  z-index: 300;
  min-width: 300px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 4rem;

  @media screen and (min-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
