.notification {
  background-color: red;
  position: fixed;
  left: 0;
  right: 0;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  border-radius: var(--rounded);
  color: white;
  text-align: center;
  padding: 1rem;

  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);

  transition:
    visibility 0s linear 1s,
    opacity 1s ease,
    transform 1s ease;
}

.show {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);

  transition:
    visibility 0s linear,
    opacity 1s ease,
    transform 1s ease;
}

