.dragHandle {
  /* Remove all default styling */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  touch-action: none;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
